/* === DESKTOP LAYOUT === */
/* 769-1200px */
@media only screen and (min-width: 769px) {

	.mobilelogo, .mobilenav, .mobilemenu, .overlay-content, #mobilenav {
		display: none;
	}

	main {
		position: absolute;
	  	top: 2%;
		left: 33%;
		width: 60%;
		height: auto;
		background: #eee;
		padding: 25px;
	  	text-align: justify;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 58px;
	  	color: #7A7A7A;
	  	position: relative;
	  	animation-name: title;
	    animation-duration: 3s;
	    text-align: left;
	    margin-bottom: 20px;
	}

}

/* === TABLET LAYOUT === */
/* From 481px to 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {

	nav {
		display: none;
	}

	.mobilelogo {
		position: absolute;
		top: 0%;
	}

	main {
		position: absolute;
	  	top: 37%;
		left: 2%;
		width: 96%;
		height: auto;
		margin: auto;
		background: #eee;
		padding: 5px;
	  	text-align: justify;
	}

	figure#photo {
		float: right;
		padding: 0px 3px 5px 15px;
		width: 125px;
		height: auto;
		margin-bottom: 0px;
	}

	figure#video {
		float: left;
		height: auto;
		margin-bottom: 10px;
		text-align: center;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 36px;
	  	color: #7A7A7A;
	  	position: relative;
	  	animation-name: title;
	    animation-duration: 3s;
	    text-align: left;
	    margin-bottom: 20px;
	}

	main p {
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
		line-height: 26px;
		color: #000;
		margin-bottom: 28px;
	}


	.mobilemenu {
		position: fixed;
		top: 5px;
		right: 10px;
		font-weight: bold;
		color: #000;
		font-size: 30px;
		z-index: 1;
	}

	/* Mobile menu */
	/* The Overlay (background) */
	.overlay {
	    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
	    height: 100%;
	    width: 0;
	    position: fixed; /* Stay in place */
	    z-index: 2; /* Sit on top */
	    left: 0;
	    top: 0;
	    background-color: rgb(0,0,0); /* Black fallback color */
	    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	    overflow-x: hidden; /* Disable horizontal scroll */
	    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

	/* Position the content inside the overlay */
	.overlay-content {
	    position: relative;
	    top: 30%; /* 15% from the top */
	    width: 100%; /* 100% width */
	    text-align: center; /* Centered text/links */
	    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	}

	/* The navigation links inside the overlay */
	.overlay a {
	    padding: 8px;
	    text-decoration: none;
	    font-size: 32px;
	    line-height: 36px;
	    color: #818181;
	    font-family: 'Raleway', sans-serif;
	    display: block; /* Display block instead of inline */
	    transition: 0.3s; /* Transition effects on hover (color) */
	}

	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
	    color: #f1f1f1;
	}

	/* Position the close button (top right corner) */
	.overlay .closebtn {
	    position: absolute;
	    top: -10px;
	    right: 0px;
	    font-size: 60px;
	}

	/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
	@media screen and (max-height: 450px) {
	    .overlay a {font-size: 20px}
	    .overlay .closebtn {
	        font-size: 40px;
	        top: 15px;
	        right: 35px;
	    }
	}

}

/* === MOBILE LAYOUT === */
/* Up to 480px */

@media only screen and (max-width: 480px) {

	nav {
		display: none;
	}

	.mobilelogo {
		position: absolute;
		top: 4%;
	}

	main {
		position: absolute;
	  	top: 32%;
		left: 2%;
		width: 96%;
		height: auto;
		margin: auto;
		background: #eee;
		padding: 5px;
	  	text-align: left;
	}

	figure#photo {
		float: left;
		padding: 0px 15px 3px 5px;
		width: 125px;
		max-width: 100%;
		height: auto;
		margin-bottom: 0px;
	}

	figure#video {
		width: 96%;
		height: auto;
		margin-bottom: 25px;
		text-align: center;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 28px;
	  	color: #7A7A7A;
	  	position: relative;
	  	animation-name: title;
	    animation-duration: 3s;
	    text-align: left;
	    margin-bottom: 20px;
	}

	.mobilemenu {
		position: fixed;
		top: 5px;
		right: 10px;
		font-weight: bold;
		color: #000;
		font-size: 30px;
		z-index: 1;
	}

/* Mobile menu */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%; /* 15% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    line-height: 36px;
    color: #818181;
    font-family: 'Raleway', sans-serif;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

}

