/* === DESKTOP LAYOUT === */
/* 1025-1200px */
@media only screen and (min-width: 1025px) {

	.mobilelogo, .mobilenav, .mobilemenu, .overlay-content, #mobilenav {
		display: none;
	}

	.background558 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-558.jpg) top center no-repeat;
		background-size: cover;
	}

	.background580 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-580.jpg);
		background-size: cover;
	}

	.background595 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-595.jpg);
		background-size: cover;
	}

	.background5951 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-595-1.jpg);
		background-size: cover;
	}

	.background5952 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-595-2.jpg) top left no-repeat;
		background-size: cover;
	}

	.background595b {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) center center no-repeat, url(../images/bg-595.jpg) top center no-repeat;
		/*background-size: cover;*/
	}

	.background614 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-614.jpg) top center no-repeat;
		background-size: cover;
	}

	.background615 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-615.jpg) top center no-repeat;
		/*background-size: cover;*/
	}

	.background615b {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-615b.jpg) top center no-repeat;
		/*background-size: cover;*/
	}

	.background627 {
		position: fixed;
		top: 0%;
		left: 33%;
		width: 60%;
		height: 100%;
		background: url(../images/white-88.png) top center no-repeat, url(../images/bg-627.jpg);
		background-size: cover;
	}

	main {
		position: absolute;
	  	top: 0%;
		left: 33%;
		width: 60%;
		height: auto;
		padding: 25px;
	  	text-align: justify;
	  	margin-bottom: 15px;
	}

	main p {
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: #000;
		/*text-shadow: 2px 2px #ddd;*/
		margin-bottom: 24px;
	}
	main ul {
		list-style-position: inside;
		margin-bottom: 24px;
		margin: 0;
		padding: 0;
		/* list-style-type: none; */
	}
	main ul > li {
		position: relative;
		padding-left: 25px;
	}
	/* main ul > li:before {
		content: "•";
		position: absolute;
		left: 0;
	} */
	main li {
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: #000;
		text-align: justify;
		background: rgba(104,104,104,0.35);
		padding: 15px;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 58px;
	  	color: #7A7A7A;
	  	position: relative;
	  	animation-name: title;
	    animation-duration: 3s;
	    text-align: left;
	    margin-bottom: 20px;
	    font-weight: normal;
	}

	/* REVIEWS */

	main .reviewstars {
	color: #000;
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	}

	main .reviewbox1 {
		background-color: #ccc;
		margin: 30px;
		padding: 30px;
		opacity: 0.8;
	}

	main .reviewbox2 {
		background-color: #eee;
		margin: 30px;
		padding: 30px;
		opacity: 0.6;
	}

	main .reviewtext {
		font-size: 28px;
		color: #000;
		text-align: center;
		line-height: 32px;
	}

	main .reviewname {
		font-size: 18px;
		color: #000;
		text-align: right;
	}

	.landing {
		position: absolute;
	  	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		background: #fff;
		padding: 5px;
	  	text-align: justify;
	 }

	 .landingnav {
	 	position: absolute;
	 	padding: 15px;
	 	bottom: 15%;
		width: 60%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
	 	height: auto;
	 	background: #fff;
	 }

	.landingnav a {
	 	display: inline;
	 	margin: 20px;
	 	padding: 20px;
	 	background: #333;
	 	font-family: 'Raleway', sans-serif;
	 	font-size: 30px;
	 	color: #fff;
	 	text-decoration: none;
	 }

	 .logo {
		position: fixed;
		left: 4%;
		width: 25%;
		top: 4%;
		background: #fff;
	}

	.underline {
		text-decoration: underline;
	}
	
	a.underline {
		color: #000;
		text-decoration: underline;
	}

	.maps {
			width: 100%;
			margin: 20px auto;
	}

	.mobilemaps {
		display: none;
	}

	main section {
		width: 49%;
		float: left;
		display: inline-block;
		margin-right: 5px;
		padding: 15px;
		text-align: left;
	}

	footer {
	    position: fixed;
	    left: 0px;
	    bottom: 0%;
	    height: 29px;
	    width: 100%;
	    background: #CCCCCC;
	    font-family: 'Raleway', serif;
	    font-size: 17px;
	    text-align: center;
	    color: #000;
	    border-top: 2px solid rgba(167,167,167,.7);
	    border-bottom: 2px solid rgba(167,167,167,.7);
	}

	footer a:link {
		color: #a4031a;
	}
	
	footer a:visited {
		color: #000;
	}

}

/* === LANDSCAPE TABLET === */
/* 801-1024px */
@media only screen and (min-width: 801px) and (max-width: 1024px) {

.mobilelogo, .mobilenav, .mobilemenu, .overlay-content, .background558, .background580, .background595, .background595b, .background5951, .background5952, .background614, .background615, .background615b, .background627, #mobilenav {
		display: none;
	}

	main {
		position: absolute;
		background: rgba(238,238,238,0.88);
	  	top: 0%;
		left: 33%;
		width: 60%;
		height: auto;
		padding: 25px;
	  	text-align: justify;
	  	margin-bottom: 15px;
	}

	nav {
		position: fixed;
		left: 4%;
		width: 25%;
		top: 24%;
		height: 100%;
		background: #fff;
	}

	nav a {
		display: block;
		color: #000;
		margin-bottom: 0px;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
	}

	nav a:link {
		padding: 10px 20px;
		text-decoration: none;
		font-size: 28px;
		text-align: center;
	}

	nav a:visited {
		color: #000;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 58px;
	  	color: #7A7A7A;
	  	position: relative;
	    text-align: left;
	    margin-bottom: 20px;
	    font-weight: normal;
	}

	/* REVIEWS */

	main .reviewstars {
	color: #000;
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	}

	main .reviewbox1 {
		background-color: #ccc;
		margin: 30px;
		padding: 30px;
		opacity: 0.8;
	}

	main .reviewbox2 {
		background-color: #eee;
		margin: 30px;
		padding: 30px;
		opacity: 0.6;
	}

	main .reviewtext {
		font-size: 28px;
		color: #000;
		text-align: center;
		line-height: 32px;
	}

	main .reviewname {
		font-size: 18px;
		color: #000;
		text-align: right;
	}

	.landing {
		position: absolute;
	  	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		background: #fff;
		padding: 5px;
	  	text-align: justify;
	 }

	 .landingnav {
	 	position: absolute;
	 	padding: 15px;
	 	bottom: 15%;
		width: 60%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
	 	height: auto;
	 	background: #fff;
	 }

	.landingnav a {
	 	display: inline;
	 	margin: 20px;
	 	padding: 20px;
	 	background: #333;
	 	font-family: 'Raleway', sans-serif;
	 	font-size: 30px;
	 	color: #fff;
	 	text-decoration: none;
	 }

	 .logo {
		position: fixed;
		left: 4%;
		width: 25%;
		top: 4%;
		background: #fff;
	}

	.underline {
		text-decoration: underline;
	}

	.maps {
		display: none;
	}

	main section {
		width: 49%;
		float: left;
		display: inline-block;
		margin-right: 5px;
		padding: 5px;
		text-align: left;
	}

	footer {
	    position: fixed;
	    left: 0px;
	    bottom: 0%;
	    height: 29px;
	    width: 100%;
	    background: #CCCCCC;
	    font-family: 'Raleway', serif;
	    font-size: 17px;
	    text-align: center;
	    color: #000;
	    border-top: 2px solid rgba(167,167,167,.7);
	    border-bottom: 2px solid rgba(167,167,167,.7);
	}

	footer a:link {
		color: #a4031a;
	}
	
	footer a:visited {
		color: #000;
	}
}

/* === TABLET LAYOUT === */
/* From 481px to 800px */

@media only screen and (min-width: 481px) and (max-width: 800px) {

	nav {
		display: none;
	}

	.logo {
		display: none;
	}

	footer {
		display: none;
	}

	.mobilelogo {
		position: absolute;
		margin: 4%;
	}

	main {
		position: absolute;
	  	top: 37%;
		left: 2%;
		width: 96%;
		height: auto;
		margin: auto;
		background: #eee;
		padding: 5px;
	  	text-align: justify;
	}

	body.landing {
		background: #fff;
	}

	/* REVIEWS */

	main .reviewstars {
	color: #000;
	font-size: 50px;
	text-align: center;
	padding-top: 15px;
	}

	main .reviewbox1 {
		background-color: #ccc;
		margin: 30px;
		padding: 30px;
		opacity: 0.8;
	}

	main .reviewbox2 {
		background-color: #eee;
		margin: 30px;
		padding: 30px;
		opacity: 0.6;
	}

	main .reviewtext {
		font-size: 28px;
		color: #000;
		text-align: center;
		line-height: 32px;
	}

	main .reviewname {
		font-size: 18px;
		color: #000;
		text-align: right;
	}

	.landing {
		position: absolute;
	  	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		background: #fff;
		padding: 5px;
	  	text-align: justify;
	 }

	 .landingnav {
	 	position: absolute;
	 	padding: 15px;
	 	bottom: 15%;
		width: 60%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
	 	height: auto;
	 	background: #fff;
	 }

	.landingnav a {
	 	display: inline;
	 	margin: 20px;
	 	padding: 20px;
	 	background: #333;
	 	font-family: 'Raleway', sans-serif;
	 	font-size: 30px;
	 	color: #fff;
	 	text-decoration: none;
	 }

	figure#photo {
		float: right;
		padding: 0px 3px 5px 15px;
		width: 125px;
		height: auto;
		margin-bottom: 0px;
	}

	figure#video {
		float: left;
		height: auto;
		margin-bottom: 10px;
		text-align: center;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 36px;
	  	color: #7A7A7A;
	  	position: relative;
	  	animation-name: title;
	    animation-duration: 3s;
	    text-align: center;
	    margin-bottom: 20px;
	    font-weight: normal;
	}

	main p {
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #000;
		margin-bottom: 14px;
	}

	/* main ul {
		list-style-position: inside;
		margin-bottom: 14px;
		margin: 0;
		padding: 20px;
		list-style-type: none;
	}

	main ul > li {
		position: relative;
		padding-left: 12px;
	}

	main ul > li:before {
		content: "•";
		position: absolute;
		left: 0;
	} */

	main li {
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
		line-height: 14px;
		color: #000;
		text-align: justify;
		background: #ccc;
		padding: 10px;
	}

	.underline {
		text-decoration: underline;
	}

	.maps {
		width: 100%;
		margin: 20px auto;
	}
	
	.mobilemaps {
		display: none;
	}

	.mobilemenu {
		position: fixed;
		top: 5px;
		right: 10px;
		font-weight: bold;
		color: #000;
		font-size: 30px;
		z-index: 1;
	}

	/* Mobile menu */
	/* The Overlay (background) */
	.overlay {
	    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
	    height: 100%;
	    width: 0;
	    position: fixed; /* Stay in place */
	    z-index: 2; /* Sit on top */
	    left: 0;
	    top: 0;
	    background-color: rgb(0,0,0); /* Black fallback color */
	    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	    overflow-x: hidden; /* Disable horizontal scroll */
	    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

	/* Position the content inside the overlay */
	.overlay-content {
	    position: relative;
	    top: 30%; /* 15% from the top */
	    width: 100%; /* 100% width */
	    text-align: center; /* Centered text/links */
	    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	}

	/* The navigation links inside the overlay */
	.overlay a {
	    padding: 8px;
	    text-decoration: none;
	    font-size: 32px;
	    line-height: 36px;
	    color: #818181;
	    font-family: 'Raleway', sans-serif;
	    display: block; /* Display block instead of inline */
	    transition: 0.3s; /* Transition effects on hover (color) */
	}

	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
	    color: #f1f1f1;
	}

	/* Position the close button (top right corner) */
	.overlay .closebtn {
	    position: absolute;
	    top: -10px;
	    right: 0px;
	    font-size: 60px;
	    z-index: 10;
	}

	/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
	@media screen and (max-height: 450px) {
	    .overlay a {font-size: 20px}
	    .overlay .closebtn {
	        font-size: 40px;
	        top: 15px;
	        right: 35px;
	    }
	}

}

/* === MOBILE LAYOUT === */
/* Up to 480px */

@media only screen and (max-width: 480px) {

	nav {
		display: none;
	}

	.logo {
		display: none;
	}

	footer {
		display: none;
	}

	.maps {
		display: none;
	}

	.mobilemaps {
		width: 100%;
		margin: 3px auto;
	}

	.mobilemap {
		text-align: center;
	}

	.mobilelogo {
		position: absolute;
		margin: 8%;
	}

	.landing {
		position: absolute;
	  	top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		background: #fff;
		padding: 5px;
	  	text-align: justify;
	 }

	 .landingnav {
	 	position: absolute;
	 	bottom: 25%;
		width: 98%;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -50%);
	 	background: #fff;
	 }

	.landingnav a {
	 	display: inline;
	 	margin: 10px;
	 	padding: 10px;
	 	background: #333;
	 	font-family: 'Raleway', sans-serif;
	 	font-size: 30px;
	 	color: #fff;
	 	text-decoration: none;
	 }

	main {
		position: absolute;
	  	top: 32%;
		left: 2%;
		width: 96%;
		height: auto;
		margin: auto;
		background: #eee;
		padding: 5px;
	  	text-align: justify;
	}

	body.landing {
		background: #fff;
	}

	/* MOBILE REVIEWS */
	
	main .reviewstars {
	color: #000;
	font-size: 42px;
	text-align: center;
	padding-top: 15px;
	}

	main .reviewtext {
		font-size: 16px;
		color: #000;
		text-align: center;
		line-height: 20px;
	}

	main .reviewname {
		font-size: 14px;
		color: #000;
		text-align: right;
	}	

	.landing {
		width: 98%;
		text-align: center;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 5px;
	  	text-align: justify;
	  	background: #fff;
	}

	figure#photo {
		float: left;
		padding: 0px 15px 3px 5px;
		width: 125px;
		max-width: 100%;
		height: auto;
		margin-bottom: 0px;
	}

	figure#video {
		width: 96%;
		height: auto;
		margin-bottom: 25px;
		text-align: center;
	}

	/* Main header */

	h1 {
	  	font-family: 'Raleway', sans-serif;
	  	font-size: 36px;
	  	color: #7A7A7A;
	  	position: relative;
	  	animation-name: title;
	    animation-duration: 3s;
	    text-align: center;
	    margin-bottom: 20px;
	    font-weight: normal;
	}

	main p {
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #000;
		margin-bottom: 14px;
		text-align: justify;
	}
/*
	main ul {
		list-style-position: inside;
		margin-bottom: 14px;
		margin: 0;
		padding: 20px;
		list-style-type: none;
	}

	main ul > li {
		position: relative;
		padding-left: 12px;
	}

	main ul > li:before {
		content: "•";
		position: absolute;
		left: 0;
	}
*/
	main li {
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
		line-height: 14px;
		color: #000;
		text-align: justify;
		background: #ccc;
		padding: 10px;
	}

	.underline {
		text-decoration: underline;
	}

	.mobilemenu {
		position: fixed;
		top: 5px;
		right: 10px;
		color: #000000;
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		font-weight: bold;
		z-index: 1;
	}

/* Mobile menu */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 15% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    line-height: 36px;
    color: #818181;
    font-family: 'Raleway', sans-serif;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 60px;
    z-index: 10;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

}

